[core]
  editor = nano
  autocrlf = input

[diff]
  tool = vimdiff

[credential]
  helper = cache

[safe]
  directory = *

[gpg]
  format = ssh

[commit]
  gpgSign = true

[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers

[tag]
  gpgSign = true

[init]
  defaultBranch = master

[alias]
  timeline = log --graph --abbrev-commit --decorate --format=format:'%C(green)(%ad)%C(reset) %C(bold blue)%h%C(reset)%C(auto)%d%C(reset) %s%C(reset) %C(dim white)- %an%C(reset)' --all --date='format:%d/%m %R'
  df = diff --cached
  cm = commit -m
  ca = commit --amend
  s = status
  d = diff
  dc = diff --cached
  l = log
  zip = archive --format=zip --output archive.zip

[pull]
  rebase = true

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/.gitconfig-gh

[includeIf "hasconfig:remote.*.url:git@gitlab.zero-one-group.com:*/**"]
  path = ~/.gitconfig-zog
