# variable from .bashrc
cache = "${NPM_HOME}"
prefix = "${NPM_HOME}"

# npm init defaults
init-author-email = "sglkc@protonmail.com"
init-author-name = "sglkc"
init-author-url = "https://github.com/sglkc"
init-license = "MIT"
init-private = "true"
init-type = "module"
